/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: georgia, sans-serif;"times new roman"
    font-weight: bold;
    color: soft pink
}
body {
    background-color:pink;
    border:2px solid plum;
}
ul {list-style-type: none;
text-align: right;
border: 4px solid palevioletred;
background-color: palevioletred;}
li {display: inline;
padding: 4px;}
p {text-align: center;}

